.feed
  ul.tabs#feed(role="tablist")
    li.tab.active(role="presentation")
      a(href="#activityfeed" aria-controls="activityfeed" role="tab" data-toggle="tab").tab__link Activity feed
        span 45
    li.tab(role="presentation")
      a(href="#polls" aria-controls="polls" role="tab" data-toggle="tab").tab__link Polls
        span 4
    li.tab(role="presentation")
      a(href="#photos" aria-controls="photos" role="tab" data-toggle="tab").tab__link Photos
        span 14

  .tab-content
    .tab-pane.active#activityfeed(role="tabpanel")
      include _status
    .tab-pane#polls(role="tabpanel")
      include _polls
    .tab-pane#photos(role="tabpanel")
      include _photos
