.group
  .group__header
    .group__heading
      h3.heading__tertiary Group options
    .group__icon.group__icon--options
      span.icon__close
  .group__inner#group__inner--options
    a(href="#").group__link Join group
    a(href="#").group__link Subscribe to this group by email

