.group
  .group__header
    .group__heading
      h3.heading__tertiary Group members
    .group__icon.group__icon--members
      span.icon__close
  .group__tabs#group__tabs--members
    ul.tabs.tabs--group#groupMembers(role="tablist")
      li.tab.active.tab--group(role="presentation")
        a(href="#topmembers" aria-controls="topmembers" role="tab" data-toggle="tab").tab__link Top members
      li.tab.tab--group(role="presentation")
        a(href="#admins" aria-controls="Admins" role="tab" data-toggle="tab").tab__link.tab__link--group Admins
    .tab-content
      .tab-pane.active#topmembers(role="tabpanel")
        include _top-members
      .tab-pane#admins(role="tabpanel")
        include _admins
