nav.nav-primary__container
  .logo-primary
    a(href="").nav-primary__link.nav-primary__link--logo
      img(src="images/logo.png", alt="").img-responsive.logo-primary__image
  ul.nav-primary

    li.nav-primary__item.nav-primary__item--next

      .nav-primary__next
        .nav-primary__icon
          img(src="images/next.svg", alt="").nav-primary__image.nav-primary__image--next
        .nav-primary__text
          .nav-primary__text--mobile.nav-primary__text--next
            span Next
          .nav-primary__text--full
            span Your next session

      .nav-primary__activity
        .nav-primary__icon
          img(src="images/activity.svg", alt="").nav-primary__image.nav-primary__image--activity
        .nav-primary__text
          .nav-primary__text.nav-primary__text--activity.nav-primary__text--mobile
            span Tues 24 Feb
            span @8.30am
          .nav-primary__text.nav-primary__text--activity.nav-primary__text--full
            span Running
            span.nav-primary__text--small Tues 24 Feb @8.30am

    li.nav-primary__item.nav-primary__item--update
      a(href="#").nav-primary__link.nav-primary__update
        .nav-primary__icon
          img(src="images/update.svg", alt="").nav-primary__image.nav-primary__image--update
        .nav-primary__text
          .nav-primary__text--mobile
            span Update
          .nav-primary__text--full
            span Update your progress
    li.nav-primary__item.nav-primary__item--avatar
      a(href="#").nav-primary__link.nav-primary__avatar
        .nav-primary__icon
          span.nav-primary__badge 9
          img(src="images/avatar1.png", alt="").nav-primary__image.avatar
        .nav-primary__text
          .nav-primary__text--full.nav-primary__text--avatar
            span Davina Gifford
    li.nav-primary__item.nav-primary__item--search
      a(href="#").nav-primary__link.nav-primary__search
        .nav-primary__icon.nav-primary__icon--search
          img(src="images/search.svg", alt="").nav-primary__image.nav-primary__image--search
