nav.nav-secondary__container
  ul.nav-secondary
    li.nav-secondary__item
      a(href="").nav-secondary__link Home
    li.nav-secondary__item
      a(href="").nav-secondary__link Profile
    li.nav-secondary__item
      a(href="").nav-secondary__link Life Skillz
    li.nav-secondary__item
      a(href="").nav-secondary__link Work Skillz
    li.nav-secondary__item
      a(href="").nav-secondary__link Groups
    li.nav-secondary__item
      a(href="").nav-secondary__link About Skillz
