.status
  .status-badge
    img(src="images/badge1.png", alt="").img-responsive.status-badge__image
  .status-inner
    .status-header
      .status-header__avatar
        img(src="images/avatar1.png", alt="").img-responsive.avatar.avatar--status
      .status-header__heading
        .status-header__name
          h2.heading__secondary Peter Fisher earned a Badge - Scientist Level 1
        ul.status__info
          li.status__item.status__item--job UX Designer
          li.status__item.status__item--time 1 hour ago
    .status-text
      p.paragraph__primary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    ul.status-activity
      li.status-activity__item
        a(href="#").status-activity__link
          img(src="images/like.svg", alt="").status-activity__icon
          | Like it (22)
      li.status-activity__item
        a(href="#").status-activity__link
          img(src="images/share.svg", alt="").status-activity__icon
          | Share
      li.status-activity__item
        a(href="#").status-activity__link
          img(src="images/comment.svg", alt="").status-activity__icon
          | Comments (25)
.status
  .status-badge
    img(src="images/badge1.png", alt="").img-responsive.status-badge__image
  .status-inner
    .status-header
      .status-header__avatar
        img(src="images/avatar1.png", alt="").img-responsive.avatar.avatar--status
      .status-header__heading
        .status-header__name
          h2.heading__secondary Peter Fisher earned a Badge - Scientist Level 1
        ul.status__info
          li.status__item.status__item--job UX Designer
          li.status__item.status__item--time 1 hour ago
    .status-text
      p.paragraph__primary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    ul.status-activity
      li.status-activity__item
        a(href="#").status-activity__link
          img(src="images/like.svg", alt="").status-activity__icon
          | Like it (22)
      li.status-activity__item
        a(href="#").status-activity__link
          img(src="images/share.svg", alt="").status-activity__icon
          | Share
      li.status-activity__item
        a(href="#").status-activity__link
          img(src="images/comment.svg", alt="").status-activity__icon
          | Comments (25)
