.status.status--top-member
  .status-inner.status-inner--top-member
    .status-header.status-header--top-member
      .status-header__avatar
        img(src="images/avatar1.png", alt="").img-responsive.avatar.avatar--status
      .status-header__heading
        .status-header__name
          h2.heading__secondary Peter Fisher
        ul.status__info
          li.status__item.status__item--job Product owner
        p.paragraph__primary.paragraph__primary--top-member Distance swum: 2km
.status.status--top-member
  .status-inner.status-inner--top-member
    .status-header.status-header--top-member
      .status-header__avatar
        img(src="images/avatar1.png", alt="").img-responsive.avatar.avatar--status
      .status-header__heading
        .status-header__name
          h2.heading__secondary Peter Fisher
        ul.status__info
          li.status__item.status__item--job Product owner
        p.paragraph__primary.paragraph__primary--top-member Distance swum: 2km
.status.status--top-member
  .status-inner.status-inner--top-member
    .status-header.status-header--top-member
      .status-header__avatar
        img(src="images/avatar1.png", alt="").img-responsive.avatar.avatar--status
      .status-header__heading
        .status-header__name
          h2.heading__secondary Peter Fisher
        ul.status__info
          li.status__item.status__item--job Product owner
        p.paragraph__primary.paragraph__primary--top-member Distance swum: 2km
.status.status--top-member
  a(href="#").button.button__primary See all members
