.button {
  display: inline-block;
  transition: 0.1s ease-in-out;
  text-align: center;
  margin: auto;

  &:hover {
    text-decoration: none;
  }
}

.button__primary {
  background-color: $blue-tertiary;
  color: $white-primary;
  padding: 10px 50px;

  &:hover {
    color: $white-primary;
    background-color: darken($blue-tertiary, 10%);
  }
}

.button__secondary {
  display: block;
  max-width: 460px;
  margin: auto;
  text-align: center;
  background-color: $white-primary;
  border: 1px solid $gray-button-border;
  border-radius: 4px;
  color: $gray-secondary;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;

  &:hover {
    color: $white-primary;
    background-color: $blue-tertiary;
  }
}
