.group {
  border: 1px solid $gray-border;
  margin-bottom: 20px;
  background-color: $white-primary;
}

.group__header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group__icon {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;

  .icon__close {
    transition: 0.15s ease;
  }

  &:hover .icon__close {
    background-color: darken($close-icon, 10%);
  }
}

.is-close {
  display: none;
}


.group__inner {
  padding: 15px;
  border-top: 1px solid $gray-border;
}

.group__link {
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $blue-primary;
  &:hover {
    color: darken($blue-primary, 10%);
  }
}
