.nav-secondary__container {

  @media (min-width: $screen-sm-min) {
    @include container();
    height: 60px;
    display: flex;
    align-items: center;
  }
}

.nav-secondary {
  list-style: none;
  padding: 0;
  margin: 0;
  @include clearfix();
  width: 100%;
}

.nav-secondary__item {
  float: left;
  @media (max-width: $screen-xs-max) {
    width: 33.3333%;
    padding: 8px 15px;
  }

  @media (min-width: $screen-sm-min) {
    padding: 0 20px;
  }
}

.nav-secondary__item:first-child {

  @media (min-width: $screen-sm-min) {
    padding-left: 40px;
  }
}

.nav-secondary__item:last-child {

  @media (min-width: $screen-sm-min) {
    float: right;
    padding-right: 5px;
  }
}

.nav-secondary__link {
  color: $gray-septenary;

  &:hover {
    color: darken($gray-septenary, 10%);
  }
}
