.nav-primary__container {
  width: 100%;
  background-color: $blue-primary;
  position: fixed;
  bottom: 0;
  z-index: 1;

  @media (min-width: $screen-sm-min) {
    position: static;
    @include clearfix();
  }

  @media (min-width: $screen-lg-min) {
    @include container();
  }
}

.logo-primary {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
    float: left;
    height: 60px;
    max-width: 110px;
    padding-right: 10px;
    padding-left: 10px;
  }

  @media (min-width: $screen-md-min) {
    padding-right: 15px;
  }
}

.logo-primary__image {
  width: 100%;

  @media (min-width: $screen-md-min) {
    min-width: 145px;
  }

  @media (min-width: $screen-lg-min) {
    min-width: 156px;
  }
}

.nav-primary {
  display: flex;
  list-style: none;
  padding: 0;
  height: 50px;
  margin: 0;

  @media (min-width: $screen-sm-min) {
    float: right;
    height: 60px;
  }
}

.nav-primary__item {
  border-right: 1px solid $black-primary;
  display: flex;
  align-items: center;
  transition: 0.15s ease;

  @media (min-width: $screen-sm-min) {
    padding: 0 15px;

    &:first-child {
      border-left: 1px solid $black-primary;
    }
  }

  @media (min-width: $screen-md-min) {
    padding: 0 20px;
  }

  &:hover {
    background-color: $nav-primary__link-bg-hover;
    cursor: pointer;
  }

  .nav-primary__link:hover {
    color: $nav-primary__link-font-hover;
    text-decoration: none;
  }
}

.nav-primary__next,
.nav-primary__activity,
.nav-primary__update,
.nav-primary__avatar,
.nav-primary__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    height: 60px;
  }
}

.nav-primary__next {
  padding: 5px 5px 5px 10px;
}

.nav-primary__image {
  margin-bottom: 4px;
}

.nav-primary__image--next,
.nav-primary__image--update {
  height: 20px;

  @media (min-width: $screen-md-min) {
    height: 27px;
  }
}

.nav-primary__image--activity {
  height: 20px;
  margin-left: 5px;
  @media (min-width: 530px) {
    height: 35px;
  }
}

.nav-primary__activity,
.nav-primary__avatar {
  flex-direction: row;
}

.nav-primary__text {
  display: block;
  text-align: center;
  font-size: $font-size-little;
  color: $white-primary;

  @media (min-width: $screen-md-min) {
    display: inline-block;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-base;
  }
}

.nav-primary__image--activity {
  margin-right: 5px;
}

.nav-primary__text--mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.nav-primary__text--activity span {
  display: block;
  text-align: left;

  @media (min-width: 600px) {
    display: block;
  }
}

.nav-primary__text--activity span {

  @media (max-width: $screen-xs-max) {
    display: block;
  }
}

.nav-primary__text--full {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}

.nav-primary__text--small {
  @media (min-width: $screen-md-min) {
    font-size: $font-size-small;
  }
}

.nav-primary__text--avatar {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.nav-primary__icon {
  position: relative;
  @media (min-width: $screen-sm-min) {
    margin-right: 5px;
  }

  @media (min-width: $screen-md-min) {
    display: inline-block;
    margin-right: 10px;
  }
}

.avatar {
  border-radius: 100%;
  padding: 2px;
  background-color: $blue-primary;
  border: 2px solid $blue-secondary;
  height: 34px;
  margin-bottom: 0;

  @media (max-width: $screen-sm-max) {
    display: block;
    margin: auto;
  }
}

.nav-primary__badge {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: $blue-secondary;
  color: $white-primary;
  display: flex;
  width: 20px;
  height: 20px;
  font-size: $font-size-15;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
     right: 5px;
  }
}

.nav-primary__image--search {
  padding: 0 10px;
}

.nav-primary__item--next {
  width: 40%;

  @media (min-width: $screen-sm-min) {
    width: auto;
  }

  &:hover {
    cursor: default;
    background-color: $blue-primary;
  }
}

.nav-primary__item--update,
.nav-primary__item--avatar,
.nav-primary__item--search {
  width: 20%;
  display: flex;
  justify-content: center;

  @media (min-width: $screen-sm-min) {
    width: auto;
  }
}

.nav-primary__item--search {
  @media (min-width: $screen-sm-min) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nav-primary__icon--search {
  margin-right: 0;
}
