.status {
  border-bottom: 1px solid $gray-border;
  padding: 40px 10px 15px;
  display: flex;
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding: 25px;
    position: static
  }
}

.status--top-member {
  padding: 15px 15px 15px;
}

.status:last-child {
  border-bottom: none;
}

.status-badge {
  width: 35px;
  position: absolute;
  right: 4px;
  top: 4px;

  @media (min-width: $screen-sm-min) {
    width: 20%;
    padding-right: 19px;
    position: static;
  }
}

.status-badge__image {
  width: 100%;
}

.status-inner {
  width: 100%;

  @media (min-width: $screen-sm-min) {
    padding-left: 19px;
    width: 80%;
  }
}

.status-inner--top-member {
  padding-left: 0;
}

.avatar--status {
  background-color: $white-primary;
}

.status-header {
  display: flex;
  @include clearfix();
  margin-bottom: 20px;
}

.status-header--top-member {
  margin-bottom: 0;
}

.status-header__avatar {
  width: 40px;

  @media (min-width: $screen-sm-min) {
    width: 40px;
  }
}

.status-header__heading {
  width: calc(100% - 40px);
  padding-left: 10px;

  @media (min-width: $screen-sm-min) {
    width: calc(100% - 40px);
    padding-left: 10px;
  }
}

.status-activity {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.status__info {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.status__item--job {
  color: $gray-secondary;
  font-size: $font-size-base;
  text-transform: uppercase;
  margin-right: 10px;
}

.status__item--time {
  font-size: $font-size-middle;
  color: $gray-quaternary;
}

.status-text {
  margin-bottom: 10px;
}

.status-activity__link {
  color: $gray-tertiary;
  font-size: $font-size-small;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base;
  }

  &:hover {
    color: darken($gray-tertiary, 10%);
  }
}

.status-activity__item {
  margin-right: 5px;

  @media (min-width: $screen-sm-min) {
    margin-right: 10px;
  }

}

.status-activity__icon {
  width: 22px;
  height: 16px;
  margin-right: 1px;

  @media (min-width: $screen-sm-min) {
    margin-right: 3px;
  }
}
