.tabs {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix();
  border-bottom: 1px solid $gray-border;

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.tab {
  margin-bottom: 0;
  float: left;
  position: relative;
  display: block;
  @media (min-width: $screen-sm-min) {
    float: left;
  }
}

.tab__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0;
  margin-right: 0;
  font-size: $font-size-middle;
  text-transform: uppercase;
  color: $gray-quinary;
  border: none;

  transition: 0.15s ease;

  @media (min-width: $screen-sm-min) {
    padding: 18px 22px 15px;
  }
}

.tab:first-child .tab__link {
  border-right: 1px solid $gray-border;
}


.tab__link:hover {
  cursor: pointer;
}

.tab__link span {
  display: block;
  color: $gray-span;
  font-size: $font-size-middle;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    margin-left: 10px;
  }
}

.active .tab__link span {
  color: $blue-secondary;
}

.tab__link,
.tab__link:hover,
.tab__link:focus {
  border: none;
  border-right: 1px solid $gray-border;
  color: $gray-quinary;
  text-decoration: none;
}
.tab__link:hover,
.tab__link:focus {
  background-color: $gray-tab-active;
}

.tab.active .tab__link {
  background-color: $gray-tab-active;
  font-size: $font-size-middle;
  font-weight: 700;
  border-bottom: none;
}

.tab.active .tab__link--group {
  border-right: darken($gray-tab-active, 10%);
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.tabs--group {
  border-top: 1px solid $gray-border;
}

.tab--group {
  width: 50%;
  text-align: center;
}

.tab__link--group {
  border-right: 1px solid white;
  &:hover {
    border-right: 1px solid $gray-tab-active;
  }
}


