doctype html
html
  include _includes/_head
  body
    include _includes/_header
    .container-main
      .row
        include _includes/_main
        include _includes/_aside
    include _includes/_footer
    script(type='text/javascript' src="js/all.js")
