footer.footer
  .footer-container
    .footer-logo
      img(src="images/logo-footer.png", alt="").img-responsive.footer-logo__image
    .footer-info
      p.paragraph--footer Like any high-powered machine, success relies on the performance of its parts. We are strong believers in your personal development and health. When you start with us, we sponsor one work and one life skill. Obtaining skillz is tough.
    .footer-links
      ul.footer-links__list
        li.footer-links__item
          a(href="#").footer-links__link About us
        li.footer-links__item
          a(href="#").footer-links__link Skillz List
        li.footer-links__item
          a(href="#").footer-links__link Press
        li.footer-links__item
          a(href="#").footer-links__link Join us
      ul.footer-links__list
        li.footer-links__item
          a(href="#").footer-links__link Terms &amp; conditions
        li.footer-links__item
          a(href="#").footer-links__link Privacy &amp; Security
        li.footer-links__item
          a(href="#").footer-links__link Sitemap
        li.footer-links__item
          a(href="#").footer-links__link FAQ’s

    .social-icons
      ul.social-icons__list
        li.social-icons__item
          a(href="#").social-icons__link
            img(src="images/facebook.svg", alt="").social-icons__icon
        li.social-icons__item
          a(href="#").social-icons__link
            img(src="images/twitter.svg", alt="").social-icons__icon
        li.social-icons__item
          a(href="#").social-icons__link
            img(src="images/youtube.svg", alt="").social-icons__icon
        li.social-icons__item
          a(href="#").social-icons__link
            img(src="images/linkedin.svg", alt="").social-icons__icon
        li.social-icons__item
          a(href="#").social-icons__link
            img(src="images/gplus.svg", alt="").social-icons__icon



