head
  meta(charset='utf-8')
  title='Skillz'
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='css/style.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
