body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
}

.heading__secondary {
  display: inline-block;
  font-size: $font-size-big;
  margin: 0;
  color: $blue-primary;
  font-weight: 400;
}

.heading__tertiary {
  font-size: $font-size-bigger;
  font-weight: 400;
  color: $gray-heading;
  margin: 0;
  text-transform: uppercase;
}

.paragraph__primary {
  color: $gray-primary;
}

.paragraph__primary--top-member {
  margin-bottom: 0;
}

.paragraph--footer {
  font-size: $font-size-base;
  color: $gray-senary;
}
