// color

$blue-primary:      #1c5da7;
$blue-secondary:    #03a5e7;
$blue-tertiary:     #448fe5;

$background:        #F4F5F5;
$background-block:  #fff;

$gray-primary:      #6b6b6b;
$gray-secondary:    #aab2bd;
$gray-tertiary:     #7c7c7c;
$gray-quaternary:   #737373;
$gray-quinary:      #202123;
$gray-senary:       #b2b2b2;
$gray-septenary:    #696969;

$gray-border:       #e3e3e3;
$gray-tab-active:   #f5f6f6;
$gray-heading:      #ababab;
$gray-span:         #adadad;
$gray-button-border:#e6e9ed;
$close-icon:        #c0c0c0;

$white-primary:     #fff;
$black-primary:     #000;


// fonts

$font-size-big:     18px;
$font-size-bigger:  16px;
$font-size-15:      15px;
$font-size-base:    14px;
$font-size-middle:  13px;
$font-size-small:   12px;
$font-size-smaller: 11px;
$font-size-little:  10px;


// nav-main

$nav-primary__link-font: $font-size-base;
$nav-primary__link-color: $white-primary;
$nav-primary__link-bg-hover: darken($blue-primary, 5%);
$nav-primary__link-font-hover: $white-primary;
