// bootstrap

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";


// mixins

@import "variables";


// typography

@import "typography";
@import "icons";


// mixins

@import "_mixins/container";


// layout

@import "_includes/header";
@import "_includes/main";
@import "_includes/aside";
@import "_includes/footer";


// components

//@import "_components/nav-main";
@import "_components/nav-main";
@import "_components/nav-secondary";
@import "_components/feed";
@import "_components/group";
@import "_components/status";
@import "_components/tabs";
@import "_components/buttons";


body {
  background-color: $background;
  display: flex;
  min-height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  max-width: 100%;
}

.container-main {
  flex: 1 0 auto;
}

@media (max-width: $screen-xs-max) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
