.aside {

  @media (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
  }

  @include make-md-column(4);
}

.group-members {
  border: 1px solid $gray-border;
  background-color: $white-primary;
}
