.footer {
  background-color: $white-primary;
}

.footer-container {
  @include container();
  padding-top: 28px;
  padding-bottom: 68px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $screen-md-min) {
    flex-wrap: no-wrap;
    padding-bottom: 28px;
  }
}

.footer-logo {
  width: 15%;
  @media (min-width: $screen-md-min) {
    width: 15%;
    padding: 0 15px;
  }

}

.footer-info {
  width: 85%;
  padding: 0 15px;

  @media (min-width: $screen-md-min) {
    width: 35%;
    padding: 15px 15px 0;
  }
}

.footer-links {
  width: 100%;
  padding: 0 15px;
  padding-left: calc(15% + 15px);

  @media (min-width: $screen-md-min) {
    width: 25%;
    padding: 15px 15px 0;
  }
}

.social-icons {
  width: 100%;
  padding: 20px 15px 10px;
  padding-left: calc(15% + 15px);
  display: flex;
  align-items: center;

  @media (min-width: $screen-md-min) {
    width: 25%;
    padding: 0 15px;
  }
}

.footer-links__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 15px;
}

.footer-links__link {
  color: $gray-senary;
  text-decoration: underline;
}

.social-icons__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include clearfix();
}

.social-icons__item {
  float: left;
  margin-right: 20px;
}

.social-icons__icon {
  height: 20px;
}
