.header {
  margin-bottom: 27px;
}

.primary-navigation {
  background-color: $blue-primary;
}

.secondary-navigation {
  background-color: $white-primary;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.14);
}
