.container-main {
  @include container-mobile();

  @media (min-width: $screen-sm-min) {
    @include container();
  }
}

.main {

  @media (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
  }

  @include make-md-column(8);
  margin-bottom: 20px;
}

